@charset "utf-8";

/* paleta de cores
cor verde agua: #88b8a9
cor erva doce: #b2cbae */

/*.color4 { #714134 };
.color5 { #bcbcac };*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #88b8a9;
    height: 100vh;
    width: 100vw;
}

h1#titulo {
    font-size: 3em;
    color: white;
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    border-radius: 20px;
    text-align: center;
    line-height: 200%;
    background-color: rgba(255, 255, 255, 0.219);
    width: 90vw;
    height: 100px;

}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #b2cbae;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    transition: width .3s, heinght .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #b2cbae url(../imagens/bike.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.8em;

}

form > div.campo {
    background-color: #5b796f;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #6aaa96;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translatey(-10px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    height: 40px;
    width: 100%;
    background-color: #88b8a9; 
    border: 1px solid #5b796f;
    border-radius: 5px;
    text-decoration: none;
}
form > input[type=submit]:hover {
    background-color: #3c6155; 
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #88b8a9; 
    border: 1px solid #5b796f;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao > i {
    font-size: 0.8em;

}